.mainPage {
    &__header {
        border-bottom: 1px solid rgba(223, 223, 223, 0.8);
        color: $headerColor;
        text-align: center;
    }

    &__descriptoin {
        width: 90%;
        margin: 1% auto;

        a {
            color: rgb(43, 92, 226);
            font-weight: bold;
        }
    }
}

.projects {
    margin: 1% auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;

    @media only screen and (max-width:750px) {
        grid-template-columns: repeat(1, 1fr);
    }
}