.dark {
    &__main {
        background-image: url(../../../public/images/todoApp/images/bg-desktop-dark.jpg);
        background-color: $VeryDarkBlue;
    }

    &__formAddTask,
    &__list-of-tasks-to-do {
        background: $VeryDarkDesaturatedBlue;
    }

    &__list-of-tasks-to-do {
        color: $LightGrayishBlue;
    }

    &__footer {
        background: $VeryDarkDesaturatedBlue;
        color: $DarkGrayishBlueDark;
    }


}