.light {
    &__main {
        background-image: url(../../../public/images/todoApp/images/bg-desktop-light.jpg);
        background-color: $VeryLightGrayishBlue;
    }

    &__formAddTask,
    &__list-of-tasks-to-do {
        background-color: $VeryLightGray;
    }

    &__list-of-tasks-to-do {
        color: $VeryDarkGrayishBlue;
    }

    &__footer {
        background-color: $VeryLightGray;
        color: $DarkGrayishBlueDark;
    }
}