@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');

$fontFamily: 'Josefin Sans',
sans-serif;

//Primary
$BrightBlue: hsl(220, 98%, 61%);
$CheckBackground: linear-gradient hsl(192, 100%, 67%) to hsl(280, 87%, 65%);

//Neutral
//Light Theme
$VeryLightGray: hsl(0, 0%, 98%);
$VeryLightGrayishBlue: hsl(236, 33%, 92%);
$LightGrayishBlue: hsl(233, 11%, 84%);
$DarkGrayishBlueLight: hsl(236, 9%, 61%);
$VeryDarkGrayishBlueLight: hsl(235, 19%, 35%);

//Dark Theme
$VeryDarkBlue: hsl(235, 21%, 11%);
$VeryDarkDesaturatedBlue: hsl(235, 24%, 19%);
$LightGrayishBlue: hsl(234, 39%, 85%);
$LightGrayishBlue-hover: hsl(236, 33%, 92%);
$DarkGrayishBlueDark: hsl(234, 11%, 52%);
$VeryDarkGrayishBlueDark: hsl(233, 14%, 35%);
$VeryDarkGrayishBlueDarkMore: hsl(237, 14%, 26%);

.to-do-app {
    font-family: $fontFamily;
    background-repeat: no-repeat;
    background-size: 100% 40%;
    background-position: top;

}

.to-do-list {
    width: clamp(300px, 30%, 1200px);
    height: 50vh;

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: $VeryLightGray;
    }

    &__task {
        color: white;
        font-size: 1.5rem;

        &--done {
            text-decoration: line-through;
        }
    }
}

input:focus {
    outline: none !important;
}

@import './formInput';
@import './light';
@import './dark';